<div class="add-friend-modal">
   <button class="close">X</button>
   <form action="/friends" class="add-friend" method="post">
      <input id="addFriend" name ="addFriend" type="text" placeholder="Friend Username" required>
      <button type="submit" name="submit" class="submit-button">Add Friend</button>
  </form>
 </div>