<div class="chat-msg-wrapper">
   <div class="chat-msg-container">
      <p class="chat-msg">Hi this is a tree</p>
   </div>
</div>


<div class="chat-msg-wrapper">
   <div class="chat-msg-container">
      <p class="chat-msg">Hi this is a tree</p>
   </div>
</div>


<div class="chat-msg-wrapper">
   <div class="chat-msg-container">
      <p class="chat-msg">Hi this is a tree</p>
   </div>
</div>


<div class="chat-msg-wrapper">
   <div class="chat-msg-container">
      <p class="chat-msg">Hi this is a tree</p>
   </div>
</div>

<div class="chat-msg-wrapper other" >
   <div class="chat-msg-container">
      <p class="chat-msg">Hi this is a tree</p>
   </div>
</div>

