<div class="friend-name-box" onclick="loadFriendChats(this)">
   <div class="friend-profile-picture">
      <p class="friend-intial"><%= name[0] %></p>
      <div class="friend-online-status">
        
      </div>
   </div>
   <div class="friend-name">
     <p class="name"><%= name %></p>
   </div>
 </div>
