<!DOCTYPE html>
<html lang="en">
 <!-- Nav Bar links and scripts -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Add Post</title>
    <link rel="stylesheet" href="/css/addPost.css">
    <link rel="stylesheet" href="/css/nav.css">
    <!-- https://www.mockplus.com/blog/post/bootstrap-navbar-template -->

    <%- include("partials/nav.ejs") -%>

</head>
<body>
    <div class="modal-wrapper">
        <div class="add-text-post-container">
            <h1>Add a course</h1>
            <form action="/addCourse" method="post">
                <div class="form-item">
                    <label for="sub-course">Course</label><br>
                    <input type="text" name="course">
                </div>
                <div class="form-item">
                    <label for="post-professor">Professor</label><br>
                    <input type="text" name="professor">
                </div>
                <div class="form-item">
                    <label for="post-term">Term</label><br>
                    <textarea id ="post-content" name="term" cols="-1" rows="5"></textarea>
                </div>
                <div class="button-container">
                    <button type="submit" name="submit">Add course</button>
                </div>
            </form>
        </div>
    </div>

  

</body>
</html>
